.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.main {
  display: flex;
  padding-top: 50px;
}